<div class="complexCTA__content--<%= color %>">
    <div class="complexCTA__content__img--wrapper">
        <%= image_tag lorem.image('75x75'), :class => "complexCTA__content__img" %>
    </div>
    <div class="complexCTA__content__copy">
        <h2 class="complexCTA__content__copy--headline"><%= lorem.words 2 %></h2>
        <p class="complexCTA__content__copy--subhead"><%= lorem.sentence %></p>
    </div>
    <div class="complexCTA__content__copy--link--wrapper">
        <a href="#" class="complexCTA__content__copy--link"><%= lorem.words 2 %></a>
    </div>
</div>