<div class="promotions__wrapper" data-controller="promotionScroll">
    <div class="grid-construct">

        <div class="promotion-3 promotion-delay" style="background-image: url(<%= lorem.image('425x425') %>);"></div>

        <div class="promotion-3" style="background-image: url(<%= lorem.image('1020x425') %>);">
            <span class="promotion__eyebrow"><%= lorem.word %></span>
            <a href="#" class="btn-boxed-arrow-transparent"><%= lorem.words 2 %></a>
        </div>

        <div class="promotion-3-omega promotion-delay" style="background-image: url(<%= lorem.image('425x425') %>);"></div>
        
    </div>
</div>