<div class="promotions__wrapper" data-controlled="promotionScroll">
    <div class="grid-construct">

        <div class="promotion-2" style="background-image: url(<%= lorem.image('720x425') %>);">
            <span class="promotion__eyebrow"><%= lorem.word %></span>
            <a href="#" class="btn-boxed-arrow-transparent"><%= lorem.words 2 %></a>
        </div>

        <div class="promotion-2-omega" style="background-image: url(<%= lorem.image('720x425') %>);">
            <span class="promotion__eyebrow"><%= lorem.word %></span>
            <a href="#" class="btn-boxed-arrow-transparent"><%= lorem.words 2 %></a>
        </div>
        
    </div>
</div>