<div class="square-cta-<%= color %>">
    <%= image_tag lorem.image('125x125'), :class => "square-cta-img" %>
    <h2><%= lorem.words 2 %></h2>
    <p><%= lorem.sentence %></p>

    <a href="#" class="square-cta-link-<%= color %>"><%= lorem.words 3 %></a>
</div>